<form class="example-form" fxLayoutGap="5px">
    <ng-template *ngFor="let init of config; let i = index" [ngIf]="init.show && i <3">
        <mat-form-field appearance="fill" [ngClass]="{
            'input1-width' : i === 0,
            'input2-width' : i === 1,
            'input3-width' : i === 2
        }">
            <mat-label>{{init.name}}</mat-label>
            <input matInput placeholder="{{init.placeholder}}" matTooltip="{{init.toolTip}}" disabled="{{init.disabled}}" required="{{init.required}}" [attr.maxlength]="init.maxLength" > <!--value="Input1" -->
        </mat-form-field>
    </ng-template>

    <ng-template *ngFor="let init of config; let i = index" [ngIf]="init.show && i >2">
        <mat-form-field appearance="fill" class="input4-width">
            <mat-label>{{init.name}}</mat-label>
            <mat-select matTooltip="{{init.toolTip}}" disabled="{{init.disabled}}" required="{{init.required}}">
                <mat-option *ngFor="let item of items" [value]="item.value">
                    {{item.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>
</form>